body {
  background-color: #e8fbff;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 1s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.v-enter-to,
.v-leave-from {
  opacity: 1;
}
h1 {
  position: relative;
  font-family: Lato, sans-serif;
  font-size: 6vw;
  font-weight: bold;
  overflow: hidden;
}

h1 .hi {
  display: inline-block;
}

h1 .text {
  font-family: "Source Code Pro", sans-serif;
  font-weight: normal;
  padding-left: 1.2vw;
}

h1 .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 1vw;
  z-index: -1;
}
